.header{
    height : 35vw;
    margin: 13px;
    width : 100%;
    background: url('/HeaderLogo.png') no-repeat;
    background-size: cover;
    position :relative;
}
.header-contents button{
  position :absolute;
 display : flex;
 
 left : 35vw; 
 border : none;
 bottom :1%;
 border-radius:20px;
 font-weight: 200;
 color : #040000;
 padding: 1vw 2.3vw;
 font-size: max(1vw,13px);
 background-color: white;
animation: fadeIn 3s;
}

